<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <span class="oi oi-script" aria-hidden="true"></span>
            P.A.I.F
        </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
</nav>
