@page "/"

<h1>Hello, world!</h1>

@using WebApplication.Data
@inject WeatherForecastService ForecastService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<textarea style="min-height: 200px;" @bind-value="source" @bind-value:event="oninput"></textarea>
<button class="btn btn-primary" @onclick="Parse">Parse</button>
<textarea style="min-height: 200px;" @bind="parsed"></textarea>
<div class="p-3 mb-2 text-white @(String.IsNullOrEmpty(error) ? "bg-success" : "bg-danger")">@error</div>

@code {
    int currentCount = 0;

    private string _source = "{ \n  int x;\n  x := 0;\n}";
    string source
    {
        get => _source;
        set
        {
            _source = value;
            Parse();
        }
    }

    string parsed;
    string error = "";

    void Parse()
    {
        Console.WriteLine("parse");
        try
        {
            parsed = ForecastService.ParseStuff(source);
            error = String.Empty;
        }
        catch (ArgumentException exception)
        {
            error = exception.Message;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            error = ex.GetType().ToString();
        }
    }
}

