@page "/"
@inject IJSRuntime JsRuntime;
@inject WeatherForecastService ForecastService
@inject AppStateService StateService
@using WebApplication.Data

<div class="container-">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <textarea class="form-control" rows="10" @bind-value="source" @bind-value:event="oninput"></textarea>
                    <div class="p-3 mb-2 text-white @(String.IsNullOrEmpty(error) ? "bg-success" : "bg-danger")">@error</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="imageDiv"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Node</th>
                                <th scope="col">Analysis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>asdf</td>
                                <td>asdf</td>
                            </tr>
                            <tr>
                                <td>asdf</td>
                                <td>asdf</td>
                            </tr>
                            <tr>
                                <td>asdf</td>
                                <td>asdf</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    string error = "";

    private string _source;
    string source
    {
        get => _source;
        set
        {
            _source = value;
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        _source = StateService.SourceCode;
    }

    async void Parse()
    {
        Console.WriteLine("parse");
        try
        {
            var graph = ForecastService.GetGraph(source);
            error = string.Empty;

            await JsRuntime.InvokeAsync<string>("Lib.CreateFlowGraph", graph);
            StateHasChanged();
        }
        catch (ArgumentException exception)
        {
            error = exception.Message;
            await JsRuntime.InvokeAsync<string>("Lib.ClearGraph");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            error = ex.GetType().ToString();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Parse();
        }
    }

}