@using WebApplication.Data
@inject AppStateService AppState

<div>
    <select class="form-control" id="analysisTypes" @bind="selected" >
        @foreach(AnalysisType at in Enum.GetValues(typeof(AnalysisType)))
        {
            @if(at == selected) {
                <option value="@at" selected>@at.ToString()</option>
            }
            else {
                <option value="@at">@at.ToString()</option>
            }
        }
    </select>
</div>


@code {
    private AnalysisType _selected { get; set; }

    [Parameter]
    public AnalysisType selected
    {
        get => _selected;
        set
        {
            _selected = value;
            SelectAnalysis();
        }
    }

    void SelectAnalysis() {
        AppState.SetAnalysisType(_selected);
    }

    
}