@using WebApplication.Data
@inject AppStateService AppState

<div>
    <select class="form-control" id="analysisTypes" @bind="selected" style="margin-bottom: 10px">
        @foreach(AnalysisType at in Enum.GetValues(typeof(AnalysisType)))
        {
            @if(at == selected) {
                <option value="@at" selected>@at.ToString()</option>
            }
            else {
                <option value="@at">@at.ToString()</option>
            }
        }
    </select>
</div>


@code {
    private AnalysisType _selected { get; set; } = AppStateService.GetDefaultAnalysis();

    [Parameter]
    public AnalysisType selected
    {
        get => _selected;
        set
        {
            _selected = value;
            SelectAnalysis();
        }
    }
    [Parameter]
    public EventCallback OnSelect { get; set; }

    void SelectAnalysis() {
        AppState.SetAnalysisType(_selected);

        OnSelect.InvokeAsync(null);
    }


}